body{
    background-color: #EFF4FD;

}
.main-team {
    padding: 0 !important;
    background-color: #EFF4FD;
    font-family: 'Inter';
    animation: fadein .5s;
}

.my-team-background{
    background: radial-gradient(36.28% 150.93% at 50% 50%, #FE6296 0%, #F2246A 100%);
    position: absolute;
    width: 100%;
    top: 67px;
    z-index: 1;
    left: 0px;
    height: 215px;
}

.welcome-team {
    position: relative;
    height: 174px;
    padding: 30px;
    z-index: 1;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
    color: #FFFFFF;
}

.welcome-team h3{
    font-family: 'Inter-Bold';
    font-weight: 1000;
}
.welcome-team p{
    font-size: 16px;
}
.welcome-team img{
    visibility: hidden;
}

.team-detail{
    background-color: #FFFFFF;
    padding: 50px !important;
    border-radius: 10px;
}

.body{
    height: 100%;
}

.main-detail{
    z-index: 1;
    position: relative;
}

.main-team-detail{
    margin: 20px 30px;
    font-family: 'Inter';
    animation: bounce-in-right 1s ease-in;
}

.main-team-detail p{
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: 600;
}

.main-team-detail h3{
    color: #FFFFFF !important;
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
}

.team-percent{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.main-team-detail span{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.progress{
    --bs-progress-height: 8px;
}

.progress-violet-fill{
    --bs-progress-bg: rgba(135, 85, 250, 0.2);
}

.progress-violet-value{
    background-color: #8755FA !important
}

.progress-blue-fill{
    --bs-progress-bg: rgba(34, 50, 223, 0.2);;
}

.progress-blue-value{
    background-color: #2232DF !important
}

.progress-teal-fill{
    --bs-progress-bg: rgba(1, 194, 207, 0.2);
}

.progress-teal-value{
    background-color: #01C2CF !important
}

.progress-pink-fill{
    --bs-progress-bg: rgba(227, 137, 235, 0.2);
}

.progress-pink-value{
    background-color: #E389EB !important
}

.mb-20{
    margin-bottom: 8em;
}

/* .footer{
    position: absolute;
    bottom: 0;
} */





